.BoddyRecuperar {
    margin-top: 11%;
    margin-left: 27%;
    width: 50%;
    outline: 1px solid black;
}

.ingrese_identificacion {
    margin-left: 34%;
    margin-top: 5%;
}

.Texto {
    margin-left: 10%;
}

.cajaTexto {
    margin-top: 2%;
    margin-left: 21%;
    margin-right: 21%;
}

.hipervinculOlvido1 {
    margin-bottom: 2%;
    margin-left: 30%;
}

.hipervinculOlvido2 {
    margin-bottom: 2%;
    margin-left: 50%;
}