.BoddyRecuperar {
    margin-top: 12%;
    margin-left: 20%;
    margin-right: 15%;
    width: 60%;
    outline: 1px solid black;
}

.seraEnviadaContraseña {
    margin-left: 37%;
    margin-top: 5%;
}

.Texto {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.regresarRecuperacion {
    margin-left: 50%;
}

.textoRecuperacion{
    text-align: center;
}