.logo_taller{
    padding: auto;
}

.boddy {
    border-radius: 20px;
    outline: 1px solid black;
}

.titulo {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.hipervinculos {
    color: gray;
    text-decoration-line: underline;
}

.fo{
display: flex;
justify-content: center;    
}
.footer {
  bottom: 0;
  }
.gran{
    padding: 5% 1%;
}
.col_login h4{
    text-align: center;
    font-family:'Times New Roman';
}
.col_login{
    padding: 5% 0%;
}