.seraEnviadoUsuario {
    margin-left: 37%;
    margin-top: 5%;
}

.Texto {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.regresarRecuperacion {
    margin-bottom: 2%;
    margin-left: 85%;
}

.textoRecuperacion{
    text-align: center;
}