.btn_captura {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background-color: white;
  color: black;
  padding: 10px 50px;
  border-radius: 15px;
  margin-top: 20px;
}
      
.btn_captura:hover {
  transition: 0.7s;
  background-color: #3A9C01;
}

.btn_inv {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background-color: white;
  color: black;
  padding: 10px 67px;
  border-radius: 15px;
}
  
.btn_inv:hover {
  transition: 0.7s;
  background-color: #FD7F28;
}

.contenedor {
  margin-top: 20px;
  outline: 1px solid black;
  border-radius: 15px;
  padding-bottom: 2%;
  margin-left: -20px;
}

.Boddy_captura {
  margin-top: 2%;
  margin-left: 0%;
}

.btn_aprobar {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  display: flex;

  color: black;
  padding: 10px 65px;
  border-radius: 15px;
}
.btn_aprobar:hover{
  transition: 0.7s;
  background-color: gray;
}

.btn_rechazar {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  color: black;
  padding: 10px 65px;
  border-radius: 15px;
}
.btn_rechazar:hover{
  transition: 0.7s;
  background-color: gray;
}

.Formulario_ob {
  height: 20%;
  text-align:start;
  padding: 0%;
  margin: 0%;
}

.tab {
  margin-right: 20px;
}