
.col1{
    justify-content: space-around;
}
.col1 h1{
    color: white;
    font-weight: 800;
}
.col1 h5{
    margin-left: 100px;
    font-weight: 800;
    color:rgb(80, 202, 9) ;
    margin-top: -11px;
}
.bod p{
    color: black;
}
.alinear{
    width: 100%;
    display: flex;
}

.text-mec h1{
    text-decoration: underline;
    margin-right: -60px;
    margin-top: 43px;
}
.text-mec{
    justify-content: space-evenly;
    display: flex;
}

.text-mec img{
    margin-right: -70px;
}

.btnDrop {
    text-decoration-line: underline;
}