.containerAjustes {
    outline: solid black 2px;
    margin: 2% 2% 0% 8%;
    border-radius: 20px;
}

.foto {
    outline: solid black 3px;
}

.row_Ajustes {
    padding-top: 2%;
    padding-bottom: 2%;
}

.usuarioAjuste {
    margin-top: 5%;
}

.separador {
    outline: solid black 1px;
}

.btnAjustes {
    margin-top: 1%;
    margin-bottom: 10%;
    margin-left: 5%;
    background-color: white;
    color: black;
    padding: 10px 50px;
    border-radius: 15px;
}

.regresarAjustes {
    text-align: end;
    margin-left: -5%;
    padding-bottom: 2%;
}
