.Logo-SOFT-TEAM {
  text-align: center;
}

.body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-image: url("./Logo-inicio.png");
    background-size: 1400px;
  }

.footer {
  position:static;
  bottom: 0;
  width: 95%;
  height: 140px;
  text-align: left;
  }

.boton {
  margin: 70px;
  background-color: white;
  color: black;
  padding: 10px 50px;
  border-radius: 15px;
}

.boton-mayor {
  text-align: center;
}

.content {
	width:600px;
	height:310px;
	line-height:510px;
	margin:0px auto;
	text-align:center;
}
 
.content img {
	vertical-align:middle;
}