  .inv {
    justify-content: center;
    display: flex;
    margin: 1px;
  }
.primer h3{
  justify-content: center;
  display: flex;
}
.conte {
  outline: 1px solid black;
  border-radius: 15px;
  margin-top: 20px;
}