  .inv {
    justify-content: center;
    display: flex;
  }
.primer h3{
  justify-content: center;
  display: flex;
  font-family:'Times New Roman';
}
.conte {
  margin-top: 5px;
}
.tabla th{
  padding: 0 0 !important;
}
.tabla td{
  padding: 2px 0 0 0;
}
.tdrebelde{
  height: 20px;
}
.uss{
  height: 25px;
  padding: 0 0 0 0;
  margin-left: 5px;
}
.margen{
  border-style: none;
  border-bottom: solid ;
}
.row{
  margin: 0;
}
.cabecera{
  background-color: #FD7F28;
  color: white;
  text-align: center;
}
.cabecera2{
  background-color: #3A9C01;
  color: white;
}

